
.carousel-item {

  height: 468px; }


  
.carousel-image-1 {
  background: url("/img/img4.jpg") no-repeat center 12%;
  background-size: cover; }

.carousel-image-2 {
  background: url("/img/img1.jpg") no-repeat center 50%;
  background-size: cover; }

.carousel-image-3 {
  background: url("/img/image5.jpg") no-repeat center 70%;
  background-size: cover; }

/* #myCarousel {
  position: relative;
} */
#myCarousel {
  position: relative;
}
.dark-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.49);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }