@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');
html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  word-wrap: break-word;
  word-break: break-word;
}
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1rem;
}

.blog-header-logo {
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.team-header {
  font-weight: 500;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
} */

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

p {
  font-size: 1rem;
}
.Ripple-parent {
  transition: none !important;
}
.Ripple.is-reppling {
  animation: none !important;
  transition: none !important;
}
/* navbar styles */

input[type='radio'] {
  margin-left: 1em;
}

.carousel-item {
  height: 444px;

  transition: none !important;
}
.fas {
  font-size: 55px;
}

.fab {
  font-size: 40px;
}

.carousel-image-1 {
  background-image: url('https://i.imgur.com/WjS34vz.jpg?1');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-image-2 {
  background-image: url('https://i.imgur.com/BI90AZ5.jpg?1');
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-image-3 {
  background-image: url('https://i.imgur.com/gCWlQRW.jpg?2');
  background-repeat: no-repeat;
  background-size: cover;
}
.mobileBackground {
  display: none;
  background: url('/img/urban.jpg') no-repeat center 15%;
  background-size: cover;
}

.carousel-text {
  font-family: 'Open Sans', sans-serif;
}
/* #myCarousel {
  position: relative;
} */
#myCarousel {
  position: relative;
}
#landingParallax {
  background-attachment: fixed;
  background-image: url('/img/lobby.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ira {
  position: relative;
  background-attachment: fixed;
  background-image: url('https://i.imgur.com/kC8zbBM.jpg');
  min-height: 14rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ldVid {
  position: relative;
  min-height: 200px;
  background: url('/img/network.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: rgb(230, 230, 230);
}
#ldVid a {
  color: #fff;
}
.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  bottom: 0;
}
#myFooter {
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
  border-top: #008ed6 2px solid;
  opacity: 0.8;
}

#myFooter .footer-copyright {
  border-top: #008ed6 2px solid;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}

#myFooter .social-networks a {
  margin-right: 5px;
  margin-left: 5px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}

#myFooter .social-networks a:hover {
  text-decoration: none;
}

#myFooter .facebook:hover {
  color: #0077e2;
}

#myFooter .google:hover {
  color: #ef1a1a;
}

#myFooter .twitter:hover {
  color: #00aced;
}

.buildBox {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buildBox:hover {
  background-color: rgba(255, 255, 255, 0.253);
  outline: 0;
}
*:focus {
  outline: 0;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

@media only screen and (max-width: 576px) {
  .carousel-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
  }
}

.display-4 {
  font-size: 2.5em;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

a.info-popover:hover {
  cursor: pointer;
  background: 0px;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285f4;
  }
  body {
    font-size: 100%;
  }
  .icon-title {
    font-size: 1.5rem;
  }
  .icon-landing {
    font-size: 3rem;
  }
  .mobileBackground {
    display: block;
    min-height: 300px;
  }
  #myCarousel {
    display: none;
  }
  #myFooter {
    text-align: center;
  }
  .display-4 {
    font-size: 2.5rem;
    text-align: center;
  }
  .sidebar {
    display: none;
  }
  .display-4.news-title,
  .news-text {
    font-size: 1.8em;
  }
  .btn {
    text-align: center;
  }
  #mapbox {
    display: none;
  }
}
@media (min-width: 992px) {
  body {
    line-height: 1.375em;
  }
  h1 {
    font-size: 3em;
    line-height: 0.1.05em;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.25em;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25em;
  }
  h4 {
    font-size: 1.25em;
    line-height: 1.22em;
  }

  .modal-lg {
    max-width: 800px;
  }
  .modal-xl {
    max-width: 1000px;
  }
}
