/* body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
} */

.dropdown:hover > .dropdown-menu {
  display: block !important;
  margin: -0.125rem 0 0 !important;
  color: 'red';
}
.dropdown > .dropdown-toggle:active {
  /* pointer-events: none !important; */
  color: 'black' !important;
}

/* #root {
  font-size: 1em;
  /* equivalent to 16px */
/* line-height: 1.25; */
/* equivalent to 20px */

/* stylelint-disable selector-list-comma-newline-after */

/* .blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1rem;
}

.blog-header-logo {
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
} */

/* .team-header {
  font-weight: 500;
} */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
} */

/* .h-250 {
  height: 250px;
} */
/* @media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
} */

/* .border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
} */

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/*
 * Blog name and description
 */
/* .blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
} */

/* @media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
} */

/* Pagination */
/* .blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
} */

.carousel-fade {
  animation: none !important;
  transition: none !important;
}
/*
 * Blog posts
 */
/* .blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
} */

/* p {
  font-size: 1rem;
} */
.carousel-item {
  transition: none !important;
}
.Ripple-parent {
  transition: none !important;
}
.Ripple.is-reppling {
  animation: none !important;
  transition: none !important;
}

input[type='radio'] {
  margin-left: 1em;
}

.fas {
  font-size: 55px;
}

.fab {
  font-size: 40px;
}

/* #myCarousel {
  position: relative;
} */
#myCarousel {
  position: relative;
}
#landingParallax {
  background-attachment: fixed;
  background-image: url('/img/lobby.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ira {
  position: relative;
  background-attachment: fixed;
  background-image: url('https://i.imgur.com/kC8zbBM.jpg');
  min-height: 14rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ldVid {
  position: relative;
  min-height: 200px;
  background: url('/img/network.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: rgb(230, 230, 230);
}
#ldVid a {
  color: #fff;
}
.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#myFooter {
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
  border-top: #008ed6 2px solid;
  opacity: 0.8;
}

#myFooter .footer-copyright {
  border-top: #008ed6 2px solid;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}

#myFooter .social-networks a {
  margin-right: 5px;
  margin-left: 5px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}

#myFooter .social-networks a:hover {
  text-decoration: none;
}

#myFooter .facebook:hover {
  color: #0077e2;
}

#myFooter .google:hover {
  color: #ef1a1a;
}

#myFooter .twitter:hover {
  color: #00aced;
}

.buildBox {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buildBox:hover {
  background-color: rgba(255, 255, 255, 0.253);
  outline: 0;
}
*:focus {
  outline: 0;
}
