@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  height: 100%;
  font-size: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.25;
}

.md-form label.active {
  font-size: 1em;
}
.md-form label {
  color: #212121;
  font-size: 1em;
}
p {
  font-size: 1rem;
}

input[type="radio"] {
  margin-left: 1em;
}
.navbar .nav-link {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.navbar .nav-item.active {
  border-left: #eee 3px solid;
}

.carousel-item {
  height: 444px;
}
.fas {
  font-size: 55px;
}
.fab {
  font-size: 40px;
}

.carousel-image-1 {
  background: url("/img/floor.jpg") no-repeat center;
  background-size: cover;
}

.carousel-image-2 {
  background: url("/img/urban.jpg") no-repeat center 15%;
  background-size: cover;
}
.mobileBackground {
  display: none;
  background: url("/img/urban.jpg") no-repeat center 15%;
  background-size: cover;
}
.carousel-image-3 {
  background: url("/img/imageLA.jpg") no-repeat center 26%;
  background-size: cover;
}

/* #myCarousel {
  position: relative;
} */
#myCarousel {
  position: relative;
}
#landingParallax {
  position: relative;
  min-height: 252px;
  background: url("/img/lobby.jpg") center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#ldVid {
  position: relative;
  min-height: 200px;
  background: url("/img/network.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: rgb(230, 230, 230);
}
#ldVid a {
  color: #fff;
}
.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  bottom: 0;
}
#myFooter {
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
  border-top: #008ed6 2px solid;
  opacity: 0.8;
}

#myFooter .footer-copyright {
  border-top: #008ed6 2px solid;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .myCols {
  text-align: center;
}

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}

#myFooter .social-networks a {
  margin-right: 5px;
  margin-left: 5px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}

#myFooter .social-networks a:hover {
  text-decoration: none;
}

#myFooter .facebook:hover {
  color: #0077e2;
}

#myFooter .google:hover {
  color: #ef1a1a;
}

#myFooter .twitter:hover {
  color: #00aced;
}

.buildBox {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buildBox:hover {
  background-color: rgba(255, 255, 255, 0.253);
  outline: 0;
}
*:focus {
  outline: 0;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

.display-4 {
  font-size: 2.5em;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

a.info-popover:hover {
  cursor: pointer;
  background: 0px;
}
@media only screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .blog-post-meta {
    text-align: center;
  }
  .icon-title {
    font-size: 1.5rem;
  }
  .icon-landing {
    font-size: 3rem;
  }
  .mobileBackground {
    display: block;
    min-height: 300px;
  }
  #myCarousel {
    display: none;
  }
  #myFooter {
    text-align: center;
  }
  .display-4 {
    font-size: 2.5rem;
    text-align: center;
  }
  .sidebar {
    display: none;
  }
  .display-4.news-title,
  .news-text {
    font-size: 1.8em;
  }
  .btn {
    text-align: center;
  }
  #mapbox {
    display: none;
  }
}
@media (min-width: 992px) {
  body {
    line-height: 1.375em;
  }
  h1 {
    font-size: 3em;
    line-height: 0.1.05em;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.25em;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25em;
  }
  h4 {
    font-size: 1.25em;
    line-height: 1.22em;
  }

  .modal-lg {
    max-width: 800px;
  }
  .modal-xl {
    max-width: 1000px;
  }
}
