/* body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
} */

.navbar {
  box-shadow: unset;
}
.modal-content {
  align-self: flex-end;
  bottom: 30rem;
}
.textblockclass {
  text-align: justify;
}
.dropdown .dropdown-menu .dropdown-item {
  font-size: 13px !important;
  line-height: 20px !important;
}
.dropdown:hover > .dropdown-menu {
  display: block !important;
  margin: -0.125rem 0 0 !important;
  color: 'red';
}
.dropdown > .dropdown-toggle:active {
  /* pointer-events: none !important; */
  color: 'black' !important;
}
.sc-bdVaJa {
  height: auto !important;
}
.sc-bxivhb,
.kTgmhB {
  font-size: 2.4rem !important;
}
/* #root {
  font-size: 1em;
  /* equivalent to 16px */
/* line-height: 1.25; */
/* equivalent to 20px */

/* stylelint-disable selector-list-comma-newline-after */

/* .blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1rem;
}

.blog-header-logo {
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
} */

/* .team-header {
  font-weight: 500;
} */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
} */

/* .h-250 {
  height: 250px;
} */
/* @media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
} */

/* .border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
} */

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/*
 * Blog name and description
 */
/* .blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
} */

/* @media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
} */

/* Pagination */
/* .blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
} */
a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}
.carousel-fade {
  animation: none !important;
  transition: none !important;
}

.carousel-item {
  transition: none !important;
}
.Ripple-parent {
  transition: none !important;
}
.Ripple.is-reppling {
  animation: none !important;
  transition: none !important;
}

input[type='radio'] {
  margin-left: 1em;
}

.fas {
  font-size: 55px;
}

.fab {
  font-size: 40px;
}

/* #myCarousel {
  position: relative;
} */
#myCarousel {
  position: relative;
}
#landingParallax {
  background-attachment: fixed;
  background-image: url('/img/lobby.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ira {
  position: relative;
  background-attachment: fixed;
  background-image: url('https://i.imgur.com/kC8zbBM.jpg');
  min-height: 14rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ldVid {
  position: relative;
  min-height: 200px;
  background: url('/img/network.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: rgb(230, 230, 230);
}
#ldVid a {
  color: #fff;
}
.lightO {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.light-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer.page-footer {
  margin-top: 0 !important;
}

.buildBox {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buildBox:hover {
  background-color: rgba(255, 255, 255, 0.253);
  outline: 0;
}
*:focus {
  outline: 0;
}
#podcastContainer {
  padding: 0;
}

@media print {
  .container {
    width: auto;
  }
}
@media (max-width: 576px) {
  #podcastContainer > div > div.card > div {
    text-align: center;
  }
  #podcastContainer p {
    text-align: left;
    padding: 1rem;
  }
  #podcastContainer h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  #podcastContainer {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 768px) {
  .investors-guide-form {
    margin-top: 0;
    margin-bottom: 0;
  }
  #youtubeVideo {
    visibility: hidden;
    display: none;
  }
}
