
.navbar .nav-link {
  font-size: 14px;
  padding-left: 1em !important;
  padding-right: 1em !important; 
}

.navbar .nav-item.active {
  border-left: #444 3px solid; 
}

.carousel-item {
  height: 444px; }
.fas {
  font-size: 55px;
}
.fab {
  font-size: 40px;
}

.carousel-image-1 {
  background: url("/img/floor.jpg") no-repeat center;
  background-size: cover; }

.carousel-image-2 {
  background: url("/img/urban.jpg") no-repeat center 15%;
  background-size: cover; }

.carousel-image-3 {
  background: url("/img/imageLA.jpg") no-repeat center 26%;
  background-size: cover; }

/* #myCarousel {
  position: relative;
} */
#myCarousel {
  position: relative;
}
#landingParallax {
  position: relative;
  min-height: 204px;
  background: url("/img/lobby.jpg") center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; }
  

  #ldVid {
    position: relative;
    min-height: 200px;
    background: url("/img/network.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
    text-align: center;
    color: rgb(230, 230, 230);
  }
  #ldVid a {
    color: #fff
  }
  .dark-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.56);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#myFooter {
	background-color: rgba(0, 0, 0, 0.945);
  color:white;
  border-top: #008ed6 2px solid;
  opacity: 0.8
}

#myFooter .footer-copyright{
  
  border-top: #008ed6 2px solid;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}

.buildBox {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buildBox:hover {
  border: 2px solid #fff;
  border-radius: 2px;
  color: #dc3546;
  background-color: rgb(255, 255, 255);
  outline: 0;
}
