a.podcastlink-id:hover {
  background-color: #000;
}
@media (max-width: 768px) {
  #podcastSection {
    margin-top: -1.48rem;
  }
  #podcastContainer {
    padding: 0 1rem 1rem 1rem !important;
  }
  #podcastContainer
    > div
    > div.row.d-flex.p-0.my-3.justify-content-between.align-items-start
    > div.pr-0.pl-3.col-md-8
    > div
    > div.card-body.px-4
    > div:nth-child(2)
    > div.py-1
    p {
    padding-left: 0 !important;
  }

  #podcastContainer .col-md-4 {
    padding: 0;
  }
  #podcastContainer > div > div.card.my-4 > div > div.col-md-4.p-3 {
    text-align: left;
    padding-left: 1.5rem !important;
  }
  #podcastContainer p,
  #podcastContainer > div > div.card.my-4 > div > div.col-md-4.p-4,
  #podcastContainer > div > div.card.my-4 > div > div.col-md-8 > h1 {
    text-align: left;
    padding-left: 1rem !important;
  }

  #podcastContainer div:nth-child(2) > div.mb-3 {
    margin-bottom: 0 !important;
  }

  #podcastContainer .row {
    margin-top: 0 !important;
  }
  #podcastContainer .col-md-8 {
    padding-left: 0 !important;
  }
  #podcastContainer .col-md-4 {
    padding-right: 0 !important;
  }
}
